<header class="flex space-between">
  <div class="flex space-between">
    <a href="" class="title">
      <h2>PAT-INFORMED</h2>
      <h6 class="subtitle">
        <b>Pat</b><span>ent&nbsp;</span>
        <b>In</b>
        <span>formation Initiative&nbsp;</span>
        <b>for Med</b>
        <span>icines</span></h6></a><!----><!---->
  </div>
  <a href="http://www.wipo.int" target="_blank" title="World Intellectual Property Organization" class="hostedByWipo" style="background-image: url(&quot;https://www.wipo.int/patinformed/assets/images/hosted_by_wipo_dark.svg&quot;);"></a>
</header>

<label for="name"></label>
<input id="name" type="text" (keyup)="search(getValue($event))">


<ul>
  @for (patent of patents$ | async; track patent._company.uid) {
    <li>
      <strong>{{patent._company.uid}} - {{patent.inns}}</strong>
      
    </li>
    <ol>
      @for(family of patent.families; track family._id) {
        <li>
          {{family.displayedTitle}}
        </li>
      }
    </ol>
  } @empty {
    <li> There are no patents available. </li>
  }
</ul>

<router-outlet></router-outlet>
